/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #001524;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	color: skyblue;
}
.header  {
	background-color: #001524;
	height: auto;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	font-family: 'Georgia', serif;
	padding: 5px;
	margin-bottom: 10px;
}


h1 {
		color: skyblue;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
		font-size: 40px;
		 text-shadow: 2px 2px 2px blueviolet;
}
h2 {
	color: ghostwhite;
	font-size: 30px;
	font-family: 'Oswald', serif;
}
h3 {
	font-size: 30px;
	font-family: 'Oswald', serif;
}
h4 {
	color: skyblue;
	font-style: italic;
	font-size: 15px;
	font-family: sans-serif;
}
h5 {
	color: black;
	font-size: 30px;
	font-family: 'Oswald', serif;
}
p { 
	font-size: 20px;
	font-family:'Times New Roman', Times, serif;
	color: black ;
}
img {
float: right;
	margin-right: 3%;
	margin-left: 3%;
	 max-width: 100%;
	 height: auto;
	display: block;
}

}
h6 {
	font-size: 10px;
	font-family: sans-serif;
}



.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	border-width: 2px;
 	border-color: darkgray;
 	border-style: solid;
 	padding-left: 10px;

 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }

 .footer p { /* This is how you add styles for only the p text within the footer. */
	background-color:#001524;
	color: skyblue;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

img {
margin:auto;
	 max-width: 100%;
	 height: auto;
	display: block;
}
}
